.cuerpo{
    background-color: black;
}

main{
    margin: 10px;
}

h1{
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}
.imgArtista{
    position: relative; 
    left: 50%;
}


footer{
    background-color: gray;
}

.bandera{
    float: left;
    margin: 0 auto;
    position: relative;
    width: 55px;
    height: 36.75px;
    background-image: -webkit-linear-gradient(top, #FCD116 0, #FCD116 50%, #003893 50%, #003893 75%, #CE1126 75%, #CE1126 100%);
    background-image: linear-gradient(180deg, #FCD116 0, #FCD116 50%, #003893 50%, #003893 75%, #CE1126 75%, #CE1126 100%);
}