.cuerpo {
    background-color: black;
    font-family: 'Franklin Gothic Medium';
    color: #212529;
    font-weight: lighter;
}
main {
    margin: 20px;
    margin-bottom: 0px;
}
hr {
    border: 5px solid white;
    border-radius: 3px;
}
footer {
    background-color: #343a40;
    margin-left: 16px;
    margin-right: 16px
}
.auto-style1 {
    width: 100%;
}
.bandera {
    float: center;
    margin: 0;
    position: relative;
    width: 55px;
    height: 36.75px;
    background-image: -webkit-linear-gradient(top, #FCD116 0, #FCD116 50%, #003893 50%, #003893 75%, #CE1126 75%, #CE1126 100%);
    background-image: linear-gradient(180deg, #FCD116 0, #FCD116 50%, #003893 50%, #003893 75%, #CE1126 75%, #CE1126 100%);
}
