main{
    margin: 10px;
}
h1{
    font-weight:bolder;
    text-transform: uppercase;
    position: relative;
}
footer{
    background-color: gray;
}
.icon {
    padding: 10px;
    background: dodgerblue;
    color: white;
    min-width: 50px;
    text-align: center;
}
.bandera{
    float: left;
    margin: 0 auto;
    position: relative;
    width: 55px;
    height: 36.75px;
    background-image: -webkit-linear-gradient(top, #FCD116 0, #FCD116 50%, #003893 50%, #003893 75%, #CE1126 75%, #CE1126 100%);
    background-image: linear-gradient(180deg, #FCD116 0, #FCD116 50%, #003893 50%, #003893 75%, #CE1126 75%, #CE1126 100%);
}
.sub{
    font-weight: bold;
}
.div2{
    background-color: rgb(53, 58, 64);
    color: white;
    margin-left: 1%;
    margin-right: 1%;
    float: left;
    width: 40%;
}
.div1:after{
    content: "";
    display: table;
    clear: both;
}