.cuerpo{
    background-color: black;
    font-family: Verdana;
}

main{
    margin: 10px;
}

h1{
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}

footer{
    background-color: gray;
}
.bajo{
    align-content: flex-end;
    position: static;
}
.tacerca{
    color: white;
}

.bandera{
    float: center;
    margin: 0 auto;
    position: relative;
    width: 55px;
    height: 36.75px;
    background-image: -webkit-linear-gradient(top, #FCD116 0, #FCD116 50%, #003893 50%, #003893 75%, #CE1126 75%, #CE1126 100%);
    background-image: linear-gradient(180deg, #FCD116 0, #FCD116 50%, #003893 50%, #003893 75%, #CE1126 75%, #CE1126 100%);
}